@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

.course {
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  /* display: flex; */
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 700px;
}

.course-info {
  padding: 10px;
  width: 100%;
}

.value {
  color: #72edf2;
  font-weight: 600;
}

.hint-text {
  font-size: 11px;
}
